/*

Add styles or override variables from the theme here.
https://www.docsy.dev/docs/adding-content/lookandfeel/#css-utilities
https://github.com/google/docsy/tree/main/assets/scss
*/

$primary: #EE3626;
$secondary: #8899A8;

