/*

Add styles or override variables from the theme here.
https://www.docsy.dev/docs/adding-content/lookandfeel/#css-utilities
https://github.com/google/docsy/tree/main/assets/scss
*/

$primary: #EE3626;
$secondary: #FFB2B2;
$info: #5BC0DE;
$success: #22BB33;
$warning: #F0AD4E;
$danger: #BB2124;
